
body {
  min-width: 400px;
  background-color: #37474F;
}
.menu {
  color: #fff;
  font-family: sans-serif;
}
#notice {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  left: 50% ;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  background-color: #525252;
  opacity: 0.5;

}
#message {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 300px;
  left: 50% ;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
.message-element {
  background-color: #fff;
  color:#525252;
}

.button {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #525252;
  display: flex;
  justify-content: center;
  color: #525252;
  padding: 1em;
}

.upgrade {
  color:white;
  display: flex;
  padding: 1em;
  cursor: pointer;
  position: absolute;
  border: 1px solid #fff;
}

.button:hover {
  background-color: #525252;
  color: #fff;
}

#snake {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.Board {
  border-spacing: 0px;
  border-radius: 1px;
  border-style: solid;
}

.Board-Cell {
  width: 10px;
  height: 10px;
}

.Board-Snake-Tail {
  background-color: lightgreen;
}

.Board-Snake-Head {
  background-color: green;
}

.Board-Token {
  background-color: orange;
}

#logout {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 1% ;
  top: 1%;
}

#bar {
    position: absolute;
    width: 50%;
    height: 30px;
    background-color: grey;
}
#xpBar {
    position: absolute;
    width: 0%;
    height: 30px;
    background-color: #fff;
}
